---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import "bootstrap/bootstrap",
        "partials/variables",

        "partials/mixins",

          "partials/structure",
          
            "partials/navbar",
            "partials/block-sky",
            "partials/block-experts",
            "partials/block-partner",
            "partials/block-choice",
            "partials/block-explore",
            "partials/footer";