@mixin opacity( $opacity: 100, $important: null ) {
    @if $important == important {
        $important: !important;
    } @else {
        $important: null;
    }
    filter: alpha(opacity=$opacity) $important;
    -moz-opacity: $opacity / 100 $important;
    -khtml-opacity: $opacity / 100 $important;
    opacity: $opacity / 100 $important;
    zoom: 1;
}


@mixin transition( $parameters... ) {
  transition: $parameters;
  -webkit-transition: $parameters;
}

@mixin transform( $transforms ) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin noselect() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin box( $parameters ) {
  -webkit-box-shadow: $parameters;
     -moz-box-shadow: $parameters;
          box-shadow: $parameters;
}
@mixin radius( $parameters ) {
  -webkit-border-radius: $parameters;
     -moz-border-radius: $parameters;
          border-radius: $parameters;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}


@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin bg($file:''){
  background: image-url($file) transparent no-repeat center center;
}
@mixin bgimg($file:''){
  background-image: image-url($file);
}

@mixin bgin($file:''){
  background: inline-image($file) transparent no-repeat center center;
}
@mixin bgimgin($file:''){
  background-image: inline-image($file);
}


@mixin gradient($parameters...){
  /* Fallback (could use .jpg/.png alternatively) */
  background-color: transparent;
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient($parameters);
  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient($parameters);
  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient($parameters);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient($parameters);

}