/*Colors-----------------------------------------------------------------*/

$primary-color-1 : #FFFFFF; // White
$primary-color-2 : #000000; // Black
$primary-color-3 : #00a4e5; // Blueish
$primary-color-4 : #535353; // Text grey
$primary-color-5 : #dd2a8f; // Pink
$primary-color-6 : #939393; // Gray text
$primary-color-7 : #e2e9ed; // Gray border
$primary-color-8 : #b32274; // dark pink
$primary-color-9 : #ff80c8; // pink text
$primary-color-10: #fbb12f; // yellow
$primary-color-11: #61533a; // brown
$primary-color-12: #991d63; // violet
$primary-color-13: #bb3982; // light violet
$primary-color-14: #dfe6e9; // border-gray
$primary-color-15: #f2faff; // light blue
$primary-color-16: #f2f3f5; // Gray bg
$primary-color-17: #d5dce0; // gray border
$primary-color-18: #878787; // gray text


/*Fonts------------------------------------------------------------------*/

$primary-font-stack : Arial, sans-serif;
$primary-text-size : 14px;
$primary-text-color: $primary-color-4;

/*Other------------------------------------------------------------------*/

$main-width: 990px;
$row: 30px;