/*Colors-----------------------------------------------------------------*/
$color-1 : #FFFFFF; // White
$color-2 : #000000; // Black
$color-3 : #00a4e5; // Blueish
$color-4 : #535353; // Text grey
