/* Structure */

/* Main settings  */
body { font-size: $default-font-size; line-height: 150%; font-family: 'Open Sans', sans-serif; font-weight: 400;}
a{
  color: $color-3;
  &:hover{
    color: $color-5;
  }
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 25px;
  font-weight: bold;
}
h4 {
  font-size: 17px;
  font-weight: bold;
}
p{
  margin-bottom: 15px;
}
.center {
  text-align: center;
}
ul {
  padding-left: 17px;
}
img{
  &.responsive{
    max-width:100%;
    height: auto;
  }
  &.fw {
    width: 100%;
  }
}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after,.container_12:before,.container_12:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}.clearfix:after,.container_12:after{clear:both}.clearfix,.container_12{zoom:1}
/* Main settings  */



/*  Transition elements  */
a{
  @include transition(all 0.3s 0s);
}


/* Navbar */
.navbar{
  &-default{
    border:0;
    background: none;
    height: 73px;
    margin-bottom: 0;
    position:absolute;
    width: 100%;
    z-index: 10;
    @include bp(false, $bp2 + 1){
      max-height: 56px;
      background: rgba($color-16,0.7);
    }
    .navbar{
      &-nav{
        border-bottom:3px solid rgba($color-1, 0.17);
        margin-top:30px;
        .social{
          display:none;
        }
        @include bp(false, $bp2 + 1){
          float: none!important;
          margin-top: 7.5px;
          background: rgba($color-16,0.7);
          margin: 0;
          padding: 15px 0;
          border:none;
        }
        > li{
          margin-left: 45px;
          margin-bottom:-3px;
          &:first-child{
            margin-left:0;
          }
          @include bp(false, $bp2 + 1){
            float: none;
            margin-left:0;
            &.social{
              display:block;
              float:none;
              margin:10px 0;
              a{
                margin-left:15px;
                padding:0;
              }
            }
          }
          > a{
            font-size: 14px;
            font-weight: 400;
            line-height: 100%;
            padding: 13px 0;
            width: auto;
            text-transform: uppercase;
            border-bottom:3px solid transparent;
            color:$color-1;
            &:hover, &:focus{
              color:$color-3;
              @include bp(false, $bp2 + 1){
                color:$color-1;
              }
            }
            @include bp(false, $bp2 + 1){
              padding: 15px;
              margin: 0;
              width: auto;
              min-height: auto;
              border:none;
            }
          }
          &.active > a{
            border-color:$color-8;
            &:hover{
              color:$color-1;
              background:transparent;
            }
            @include bp($bp2 + 2, false){
              color:$color-1;
              background: transparent;
            }
            @include bp(false, $bp2 + 1){
              background: transparent;
              color:$color-3;
              padding: 15px;
              margin: 0;
              width: auto;
              min-height: auto;
              &:hover, &:focus{
                background: transparent;
                color:$color-3;
                padding: 15px;
                margin: 0;
                width: auto;
                min-height: auto;
              }
            }
          }
        }
      }
      &-collapse{
        border-color:transparent;
        @include box(none);
        @include bp(false, $bp2 + 1){
          border-top: 1px solid transparent;
          @include box(inset 0 1px 0 rgba($color-1,0.1));
          &.collapse {
            display: none!important;
            &.in{
              display:block !important;
            }
          }
        }
      }
      &-toggle{
        border: none;
        .icon-bar, &:focus .icon-bar{
          width: 30px;
          height: 6px;
          background: $color-7;
        }
        &:hover .icon-bar{
          background: $color-5;
        }
        &:hover, &:focus{
          background: none;
        }
        @include bp(false, $bp2 + 1){
          display: block;
        }
      }
    }
  }
  &-brand{
    padding-top:40px;
    @include bp(false, $bp2 + 1){
      margin-left:-33px!important;
      left: 50%;
      position: absolute;
      padding-top: 10px;
    }
  }
  &-right {
    margin-right: 0;
  }
  &-toggle {
    margin-top: 5px;
    margin-bottom: 6px;
  }
  &-header{
    @include bp(false, $bp2 + 1){
      float: none;
    }
  }
  &-left, &-right{
    @include bp(false, $bp2 + 1){
      float: none !important;
    }
  }
  .social{
    float:right;
    margin-top:43px;
    a{
      margin-left:20px;
    }
    @include bp(false, $bp2 + 1){
      display:none;
    }
  }
}

.top-space {
  margin-top: 73px;
}
.closed {
  visibility: hidden;
}
.dropdown-menu {
  display: none;
}


.sky-part{
  width: 100%;
  height: 910px;
  overflow: hidden;
  position: relative;
  text-align:center;
  color:#FFF;
  background-repeat:no-repeat;
  background-position:center bottom;
  background-size:cover;
  background-attachment: fixed;
  @include transition(background 0.1s 0s);
  @include bp(false, $bp1 - 1){
    height: 850px;
  }
  @include bp(false, $bp2 + 1){
    height: auto;
    padding-bottom: 80px;
  }
  &-overlay, &-mountain{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-repeat:no-repeat;
    background-position:left top;
    background-size:contain;
    background-attachment: fixed;
    @include transition(background 0.1s 0s);
  }
  &-mountain{
    background-position:left bottom;
    background-attachment: scroll;
  }
  .container{
    position:relative;
    h1{
      font-size: 42px;
      font-weight: 300;
      line-height: 110%;
      margin: 10px 0;
      @include bp(false, $bp3 - 1){
        font-size: 36px;
      }
      @include bp(false, $bp4){
        font-size: 33px;
        line-height: 100%;
      }
    }
    h2{
      font-weight:700;
      font-size: 20px;
      @include bp(false, $bp3 - 1){
        font-size: 18px;
      }
      @include bp(false, $bp4){
        font-size: 17px;
        font-weight:400;
      }
    }
  }
  &-logo{
    margin:190px auto 0;
    @include bp(false, $bp1 - 1){
      margin-top: 160px;
    }
    @include bp(false, $bp2 + 1){
      margin-top: 130px
    }
  }
  .row{
    margin-top: 58px;
    font-weight: bold;
  }
  .col1, .col3{
    margin-top: 83px;
    @include bp(false, $bp1 - 1){
      margin-top: 100px;
    }
  }
  .col1 {
    text-align: right;
    @include bp(false, $bp1 - 1){
      margin-left: 0;
    }
    @include bp(false, $bp2 + 1){
      margin-top: 20px;
      margin-bottom: 20px;
      text-align:center;
    }
  }
  .col3 {
    text-align: left;
    margin-left: -10px;
    margin-top: 94px;
    @include bp(false, $bp2 + 1){
      margin-top: 50px;
    }
    @include bp(false, $bp2 + 1){
      text-align:center;
    }
  }
  .col2{
    @include bg('icon-rounded.svg');
    background-position: bottom center;
    padding-bottom:12px;
    position:relative;
    &:before{
      position:absolute;
      left:50%;
      top:-48px;
      width:5px;
      height:30px;
      content:'';
      @include bg('icon-dots.svg');
      @include bp(false, $bp2 + 1){
        display:none;
      }
    }
    img{
      margin:0 0 10px;
    }
    @include bp(false, $bp2 + 1){
      margin:50px 0 80px;
    }
  }

  .b1{
    &-1 {
      font-size:23px;
      margin-right:122px;
      @include bp(false, $bp1 - 1){
        margin-right: 70px;
        margin-bottom: 5px;
      }
      @include bp(false, $bp2 + 1){
        margin-right: 0;
        padding-left: 30px;
      }
    }
    &-2 {
      font-size:23px;
    }
    &-3 {
      font-size:43px;
    }
    &-1, &-2{
      @include bp(false, $bp1 - 1){
        font-size: 20px;
      }
    }
  }
  .b2{
    &-1 {
      font-size:31px;
      @include bp(false, $bp2 + 1){
        padding-right: 50px;
      }
    }
    &-2 {
      font-size:20px;
      margin:-28px 0 0 53px;
      @include bp(false, $bp1 - 1){
        margin-top: -23px;
      }
      @include bp(false, $bp2 + 1){
        margin-left: 0;
        padding-left: 70px;
      }
    }
    &-3 {
      font-size:85px;
      @include bp(false, $bp1 - 1){
        font-size: 70px;
      }
    }
  }
  @include bp(false, $bp1 - 1){
    .b1-3, .b2-1{
      font-size: 30px;
    }
  }
  .atext {
    text-align: center;
    h4 {
      font-size: 16px;
      color:$color-8;
      line-height: 130%;
    }
    p {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  &-img{
    margin: 0 auto;
    display: block;
    margin:0 auto 10px;
  }
}


.block-title{
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 15px;
  @include bp(false, $bp2 + 1){
    font-size: 55px;
  }
  @include bp(false, $bp3 - 1){
    font-size: 50px;
  }
  @include bp(false, $bp4){
    font-size: 38px;
  }
}

.experts{
  background:$color-6;
  color:$color-1;
  padding: 40px 0 100px;
  text-align: center;
  .row2{
    margin-top: 65px;
    @include bp(false, $bp2 + 1){
      margin-top: 0;
    }
    h2 {
      font-size: 34px;
      font-weight: 300;
      margin-bottom: 20px;
      @include bp(false, $bp2 + 1){
        margin-top: 5px;
      }
    }
    > div{
      @include bp(false, $bp2 + 1){
        margin-top: 50px;
      }
    }
  }
  .dev h2 {
    color:$color-8;
  }
  .dep h2 {
    color:$color-9;
  }
  .res h2 {
    color:$color-10;
  }
  h3 {
    font-size: 20px;
    color: $color-3;
    @include bp(false, $bp2 + 1){
      font-size: 18px;
    }
  }
  p {
    font-size: 16px;
    max-width: 220px;
    margin: 0 auto;
    @include bp(false, $bp2 + 1){
      max-width: 360px;
    }
  }
}



.partner{
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  color:$color-1;
  padding: 70px 0 80px;
  text-align: center;
  h3{
    font-size: 20px;
    @include bp(false, $bp2 + 1){
      font-size: 18px;
    }
  }
  .block-subtitle {
    font-size: 48px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 40px;
    @include bp(false, $bp2 + 1){
      font-size: 40px;
    }
    @include bp(false, $bp4){
      font-size: 30px;
      margin-bottom: 25px;
    }
  }
  h4 {
    font-size: 23px;
    font-weight: normal;
    color: $color-2;
    margin-bottom: 15px;
  }
  p {
    font-size: 14px;
  }
  .round {
    margin-top: 80px;
    @include bp(false, $bp2 + 1){
      margin-top: 40px;
    }
    @include bp(false, $bp4){
      margin-top: 30px;
    }
    .col1, .col2, .col3 {
      border: 4px solid $color-1;
      @include radius(6px);
      background: rgba($color-1,.3);
      @include bp(false, $bp2 + 1){
        margin-top: 20px; 
      }
      @include bp(false, $bp3 - 1){
        margin-left:15px;
        margin-right: 15px;
      }
    }
    .inner {
      padding: 45px 25px;
      @include bp(false, $bp2 + 1){
        padding: 40px 45px;
      }
      @include bp(false, $bp4){
        padding: 25px 15px;
      }
    }
    .col1, .col3{
      margin-top: 20px;
      min-height: 185px;
      @include bp(false, $bp2 + 1){
        margin-top: 20px;
        min-height: 0;
      }
    }
    .col2{
      min-height: 227px;
      @include bp(false, $bp2 + 1){
        min-height: 0;
      }
      .inner {
        padding: 65px 42px 0;
        @include bp(false, $bp2 + 1){
          padding: 40px 45px;
        }
        @include bp(false, $bp4){
          padding: 25px 15px;
        }
      }
    }
  }
  .tech-list{
    max-width: 930px;
    list-style: none;
    padding: 0;
    display: block;
    margin: 0 auto;
    li{
      border: 4px solid $color-1;
      @include radius(6px);
      @include transition(all 0.3s 0s);
      font-size: 13px;
      font-weight: bold;
      display: inline-block;
      margin: 6px; 
      line-height:69px;
      list-style:none;
      &:hover{
        background: $color-11;
        cursor:default;
      }
      span{
        vertical-align:middle;
        display:inline-block;
        line-height:16px;
        width:69px;
      }
    }
  }
  .wwd{
    > div {
      display: table;
      @include bp($bp4 + 1, $bp3 - 1){
        width: 50%;
        float: left;
      }
      @include bp(false, $bp2 + 1){
        margin-bottom: 30px;
        &:nth-child(odd){
          clear:left;
        }
      }
      @include bp(false, $bp4){
        width: 100%;
      }
    }
    p {
      font-size: 13px;
      font-weight: bold;
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding-left:15px;
      padding-right: 20px;
      width: 100%;
    }
    img{
      float:left;
      @include bp(false, $bp4){
        margin-left:20px;
      }
    }
  }
  @include bp($bp2 + 2, false){
    .col2, .col3{
      margin-left: -2%;
    }
    .col2{
      width: 37%;
    }
  }
}


ul.line {
  list-style: none;
  width: 8px;
  padding: 0;
  li{
    background: $color-1;
    width: 8px;
    height: 8px;
    @include radius(50%);
    margin-bottom: 22px;
  }
}

.choice{
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  color:$color-1;
  padding: 70px 0 150px;
  text-align: center;
  font-size: 14px;
  h3 {
    font-size: 20px;
    color: $color-3;
    @include bp(false, $bp2 + 1){
      font-size: 18px;
    }
  }
  .circles {
    margin-top: 60px;
    @include bp(false, $bp2 + 1){
      margin-top: 50px;
    }
    &-title {
      font-size: 34px;
      font-weight: 300;
      margin: 30px 0;
      @include bp(false, $bp2 + 1){
        margin: 20px 0;
      }
    }
    > div{
      @include bp(false, $bp2 + 1){
        margin-bottom: 50px;
      }
    }
  }
  .circle {
    width: 120px;
    height: 120px;
    @include radius(50%);
    background: $color-1;
    margin: 0 auto;
    line-height:120px;
    img{
      vertical-align:middle;
    }
  }
  ul {
    display:table;
    margin:0 auto;
    text-align: left;
  }
  p {
    max-width: 200px;
    display:table;
    margin:0 auto 10px;
  }
  ul.line{
    &.vertical {
      margin-top: 50px;
      @include bp(false, $bp2 + 1){
        margin-top: 0;
      }
    }
    &.horizontal {
      height: 8px;
      width: auto;
      margin-top: 21px;
      float: left;
      display: inline-block;
      margin-left: 10px;
      margin-right: 28px;
      @include bp(false, $bp2 + 1){
        display:none;
      }
      li {
        float: left;
        margin-left: 18px;
      }
    }
  }
  .apply{
    font-size: 24px;
    display: inline-block;
    margin: 25px auto 0;
    @include bp(false, $bp2 + 1){
      margin-top: 40px;
    }
    @include bp(false, $bp4){
      margin-right: -15px;
      margin-left: -15px;
    }
    .sides{
      float: left;
      line-height: 50px;
      width: 300px;
      @include bp(false, $bp1 - 1){
        width: 260px;
      }
      @include bp(false, $bp2 + 1){
        float:none;
      }
      @include bp(false, $bp4){
        margin-left: 5%;
        font-size: 18px;
      }
      a {
        float: left; 
        color:$color-1; 
        text-decoration: underline;
        &:hover{
          color: $color-12;
        }
        @include bp(false, $bp1 - 1){
          font-size: 20px;
        }
      }
      &.s1{
        @include bp(false, $bp2 + 1){
          top: 60px;
          right: 140px;
          position: relative;
        }
        @include bp(false, $bp3 - 1){
          top: 60px;
          right: 0;
          position: relative;
        }
        a{
          margin-right: 20px;
          float: right;
          @include bp(false, $bp1 - 1){
            margin-right: 10px;
          }
          @include bp(false, $bp2 + 1){
            float:left;
            margin-left: 10px;
            margin-right: 0;
          }
        }
        .scircle {
          float: right;
          @include bp(false, $bp2 + 1){
            float:left;
          }
        }
      }
      &.s2{
        @include bp(false, $bp2 + 1){
          bottom: 40px;
          left: 180px;
          position: relative;
        }
        @include bp(false, $bp3 - 1){
          bottom: 0;
          top: 20px;
          left: 0;
          position: relative;
        }
        a{
          margin-left: 20px;
          text-decoration: none;
          @include bp(false, $bp1 - 1){
            margin-left: 10px;
          }
        }
      }
      .scircle{
        width: 50px;
        height: 50px;
        @include radius(50%);
        background: $color-1;
        display:inline-block;
        float: left;
        line-height:45px;
        text-align:center;
        img{
          vertical-align:middle;
        }
      }
    }
    .button {
      width: 208px;
      height: 48px;
      border: 4px solid $color-1;
      float: left;
      display: inline-block;
      font-size: 14px;
      line-height: 38px;
      @include radius(24px);
      color:$color-1;
      &:hover {
        text-decoration: none;
        background: $color-11;
        cursor:pointer;
      }
      @include bp(false, $bp1 - 1){
        bottom:60px;
        float: none;
        position: relative;
      }
    }
  }
}

.explore{
  z-index:10;
  position: relative;
  &-inner{
    position: absolute;
    width: 100%;
  }
  &-icon{
    display:block;
    height:57px;
    overflow:hidden;
    margin:0 0 13px;
    @include bp(false, $bp3 - 1){
      margin:0 0 20px;
    }
    img{
      max-height:100%;
    }
    &-text{
      @include bp(false, $bp3 - 1){
        display:none;
      }
    }
  }
  .inner1{
    height: 275px;
    width: 100%;
    margin-top: -88px;
    z-index: 10;
    position: relative;
    &:before{
      position:absolute;
      left:50%;
      top:0;
      height:275px;
      width:275px;
      margin-left:-137px;
      content:'';
      background:$color-1;
      @include radius(50%);
    }
  }
  .inner11{
    min-height: 100px;
    width: 100%;
    top:88px;
    position: relative;
    background: $color-1;
  }
  .sides {
    width: 280px; 
    float: left;
    min-height: 100px;
    font-size: 30px;
    font-weight: 300;
    color: $color-2;
    display: table;
    @include bp(false, $bp3 - 1){
      width: 180px;
      font-size: 19px;
    }
    @include bp(false, $bp4){
      width: 38%;
      font-size: 19px;
    }
    p {
      display: table-cell;
      vertical-align: middle;
    }
    &.s1{
      padding-right: 20px;
      text-align: right;
      @include bp(false, $bp3 - 1){
        padding-right: 10px;
      }
    }
    &.s2 {
      padding-left: 20px;
      @include bp(false, $bp3 - 1){
        padding-left: 10px;
      }
    }
  }
  .center {
    float: left;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    @include bp(false, $bp4){
      width: 24%;
      font-size: 13px;
    }
    a {
      color: $color-2;
      &:hover {
        text-decoration: none;
        color:$color-13;
      }
    }
    img{
      display: block;
      margin: 5px auto 5px;
    }
  }
  .wrapper1 {
    width: 660px;
    margin: 0 auto;
    @include bp(false, $bp3 - 1){
      width: 460px;
    }
    @include bp(false, $bp4){
      width: 100%;
    }
  }
  .inner2 {
    min-height: 146px;
    width: 100%;
    background: rgba($color-2,.75);
    margin-top: -88px;
    @include bp(false, $bp3 - 1){
      padding-top: 60px;
    }
    img {
      display:block;
      margin:0 auto;
    }
    a {
      font-size: 14px;
      font-weight: bold;
    }
    .row > div{
      @include bp(false, $bp3 - 1){
        width: 25%;
        float: left;
      }
      @include bp(false, $bp4){
        width: 50%;
      }
    }
    .inner {
      width: 120px;
      margin-top: 30px;
      text-align: center;
      z-index: 20;
      position: relative;
      @include bp(false, $bp3 - 1){
        width: auto;
      }
      @include bp(false, $bp4){
        text-align:center;
      }
      a {
        display: block;
        &:hover {
          text-decoration: none;
          color: $color-1;
        }
      }
      &.left{
        float: left;
        @include bp(false, $bp3 - 1){
          float:none;
        }
      }
      &.right{
        float: right;
        @include bp(false, $bp3 - 1){
          float:none;
        }
      }
    }
    .col2 .inner{
      @include bp(false, $bp2 + 1){
        margin-left: -50px;
      }
      @include bp(false, $bp3 - 1){
        margin-left: 0px;
      }
    }
    .col3 .inner{
      @include bp(false, $bp2 + 1){
        margin-right: -50px;
      }
      @include bp(false, $bp3 - 1){
        margin-right: 0px;
      }
      @include bp(false, $bp4){
        margin-top:0;
      }
    }
    .col4 .inner{
      @include bp(false, $bp4){
        margin-top:0;
      }
    }
  }
}


#top-map {
  height: 600px;
  width: 100%;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
}


.footer{
  background: $color-14;
  color:$color-3;
  &-left{
    float:left;
    margin-right:20px;
    &:last-child{
      margin-right:0;
    }
  }
  &-logos{
    @include bp(false, $bp4 + 60){
      clear:left;
      padding-top:20px;
    }
  }
  &-logo{
    width:106px;
    height:106px;
    display:block;
    background:$color-1;
    @include radius(50%);
    line-height:106px;
    text-align:center;
    float:right;
    margin-left:38px;
    img{
      vertical-align:middle;
    }
    &:last-child{
      margin-left:0;
    }
  }
  &-top {
    padding-top: 20px;
    padding-bottom: 10px;
    a {
      color:$color-1;
      text-decoration: underline;
      &:hover{
        color:$color-15;
      }
    }
    p {
      margin-bottom: 5px;
    }
    h2{
      font-size: 16px;
      color:$color-1;
      font-weight: normal;
    }
    h3{
      font-size: 12px;
      color:$color-1;
      font-weight: normal;
    }
  }
  &-copy{
    font-size: 12px;
    text-align: right;
    p {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    a {
      color:$color-3;
      font-weight: bold;
    }
    div:first-child{
      text-align: left;
    }
  }
}