/* Structure */

/* Main settings  */
body { font-size: $default-font-size; line-height: 150%; font-family: 'Open Sans', sans-serif; font-weight: 400;}
a{
  color: $color-3;
  &:hover{
    color: $color-5;
  }
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 25px;
  font-weight: bold;
}
h4 {
  font-size: 17px;
  font-weight: bold;
}
p{
  margin-bottom: 15px;
}
.center {
  text-align: center;
}
ul {
  padding-left: 17px;
}
img{
  &.responsive{
    max-width:100%;
    height: auto;
  }
  &.fw {
    width: 100%;
  }
}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after,.container_12:before,.container_12:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}.clearfix:after,.container_12:after{clear:both}.clearfix,.container_12{zoom:1}
/* Main settings  */



/*  Transition elements  */
a{
  @include transition(all 0.3s 0s);
}


.top-space {
  margin-top: 73px;
}
.closed {
  visibility: hidden;
}
.dropdown-menu {
  display: none;
}



.block-title{
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 15px;
  @include bp(false, $bp2 + 1){
    font-size: 55px;
  }
  @include bp(false, $bp3 - 1){
    font-size: 50px;
  }
  @include bp(false, $bp4){
    font-size: 38px;
  }
}


ul.line {
  list-style: none;
  width: 8px;
  padding: 0;
  li{
    background: $color-1;
    width: 8px;
    height: 8px;
    @include radius(50%);
    margin-bottom: 22px;
  }
}