/* Variables */

/*Colors-----------------------------------------------------------------*/
$color-1 : #FFFFFF; // White
$color-2 : #000000; // Black
$color-3 : #FD7E00; // Orange
$color-4 : #535353; // Text grey
$color-5 : #777777; // Gray
$color-6 : #030615; // Dark bg
$color-7 : #FBB31A; // Yellow
$color-8 : #fea801; // Yellow 2
$color-9 : #9b1655; // Violet
$color-10: #499ddc; // Blue
$color-11: #3D5D6D; // partner gray hover
$color-12: #cccccc; // gray hover
$color-13: #FA731C; // light gray;
$color-14: #4C4949; // footer gray;
$color-15: #dddddd; // gray-hover
$color-16: #0C122D; // dark blue

$default-font-size: 13px;

$bp1: 1200px;
$bp2: 990px;
$bp3: 768px;
$bp4: 480px;