/* Variables */

/*Colors-----------------------------------------------------------------*/
$color-1 : #FFFFFF; // White
$color-2 : #000000; // Black
$color-3 : #fd6202; // Orange
$color-4 : #535353; // Text grey
$color-5 : #777777; // Gray
$color-6 : #030615; // Dark bg
$color-7 : #FBB31A; // Yellow
$color-8 : #fea801; // Yellow 2
$color-9 : #9b1655; // Violet
$color-10: #499ddc; // Blue
$color-11: #3D5D6D; // partner gray hover
$color-12: #cccccc; // gray hover
$color-13: #FA731C; // light gray;
$color-14: #4C4949; // footer gray;
$color-15: #dddddd; // gray-hover
$color-16: #0C122D; // dark blue
$color-17: #3b3838; // footer bg
$color-18: #e8e6e4; // team bg
$color-19: #2b538e; // title blue

$color-20: #fd6402; // bg-orange
$color-21: #315899; // bg-blue
$color-22: #8c3199; // bg-violet
$color-23: #3ac273; // bg-green
$color-24: #f7863d; // bg-light-orange
$color-25: #989898; // bg-orange

$color-26: #fd7102; // orange title

$color-27: #0099ff; // light blue
$color-28: #009999; // cyan


$default-font-size: 13px;

$bp1: 1200px;
$bp2: 990px;
$bp3: 768px;
$bp4: 480px;